html {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

body {
    background-color: var(--body-color);
    margin: 0;
    padding: 0;
}


/* card */

.kartyak {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.kartya {
    height: 550px;
    width: 29%;
    margin: 10px;
    background-color: var(--card-color);
    text-align: left;
    position: relative;
    transition: box-shadow 0.5s ease;
    box-shadow: 0 1px 2px 0 var(--cardshadow), 0 1.5px 5px 0 var(--cardshadow2);
    color: var(--textandbtn-color);
}

.kartya:hover {
    box-shadow: 0 4px 8px 0 var(--cardshadow), 0 6px 20px 0 var(--cardshadow2);
}

@media only screen and (max-width: 600px) {
    .kartya {
        width: 90%;
        height: 600px;
    }
}

.cardbtntext{
    display: inline-block;
    padding: 10px;
    color: var(--btntext-color);
    text-align: center;
    transition: 0.3s ease;
    transition: color 0.3s ease;
    text-align: center;
    border-radius: 5px;
    background-color: var(--textandbtn-color);
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    border: none;
}

.cardbtn{
    position: absolute;
    bottom: 20px;
    left: 5%;
    width: auto;
    height: 40px;
    transition: all 0.3s ease;
    text-decoration: none;
    background-color: transparent;
}

.cardbtn:hover{
    transform: scale(1.07);
}

.cardbtntext:hover{
    border-radius: 7px;
}

.textcard {
    padding-left: 5%;
    padding-right: 5%;
}

#mark{
    background-color: var(--mark-color);
    width: fit-content;
    padding: 0 10px 0 10px;
}


/* nav */

nav {
    width: 100%;
    background-color: var(--nav-color);
}

nav ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    transition: background-color 0.5s ease;
    background-color: var(--navli-color);
}

nav ul li:hover {
    background-color: var(--navlihover-color);

}

nav ul li a {
    color: var(--navtext-color);
    text-decoration: none;
    font-size: 16px;
    color: var(--navtext-color);
}

.toggle {
    width: 100%;
    padding: 10px 20px;
    background: var(--toggle-color);
    text-align: right;
    box-sizing: border-box;
    font-size: 30px;
    display: none;
}

#dark{
    padding: 0;
    position: absolute;
    right: 0;
    margin-right: 5%;
}

#dark:hover{
    background-color: transparent;
}

@media (max-width:768px) {
    .toggle {
        display: block;
    }

    nav ul {
        width: 100%;
        display: none;
    }

    nav ul li {
        display: block;
        text-align: center;
        transition: transform 0.3s ease;
        transition: background-color 0.5s ease;

    }
    nav ul li:hover{
        transform: scale(1.05);
        background-color: var(--navlihover-color);
    }

    .active {
        display: block;
    }

    #dark{
        position: static;
        margin-right: 0px;
    }

    #icon{
        height: 44px;
        padding: 5px 0px 5px 0px;
    }
}

.bar {
    width: 35px;
    height: 5px;
    background-color: var(--burger-color);
    margin: 6px 0;
}

.menu{
        transition: transform 0.3s ease;
        width: fit-content;
}

.menu:hover{
    transform: scale(1.15);
    cursor: pointer;
}



/* paralax */

.parallax{
    background-image: url(kepek/backround-steampunk.png);
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: var(--cardspan-color);
    color: var(--btntext-color);
    padding: 18px;
    font-size: 30px;
    letter-spacing: 4px;
}

.parallax1{
    min-height: 300px;
    position: relative;
    opacity: 0.9;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(kepek/backround-steampunk.png);
}



/* sticky header */

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.header{
    z-index: 1;
}



/* chat */

.open-button {
    background-color: var(--popupopen);
    color: var(--btntext-color);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}
  
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid var(--popupborder);
    z-index: 9;
}
  
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: var(--card-color);
    color: var(--textandbtn-color);
}
  
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background-color: var(--popuptextarea);
    resize: none;
    min-height: 200px;
    color: var(--textandbtn-color);
}
  
.form-container textarea:focus {
    background-color: var(--popupfocus);
    outline: none;
    color: var(--textandbtn-color);
}
  
.form-container .btn {
    background-color: #04AA6D;
    color: var(--textandbtn-color);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
  
.form-container .cancel {
    background-color: red;
}
  
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}



/* dark-mode */

#icon{
    cursor: pointer;
    height: 54px;
}



:root{
    --body-color: rgb(233, 233, 233);
    --card-color: white;
    --textandbtn-color: black;
    --btntext-color: white;
    --mark-color: rgb(255, 242, 0);
    --cardspan-color: #111;
    --nav-color: rgb(255, 255, 255);
    --burger-color: rgb(255, 253, 253);
    --toggle-color: #000000;
    --navtext-color: black;
    --navli-color: rgb(255, 255, 255);
    --navlihover-color: rgb(227, 227, 227);
    --popupopen: #363636;
    --popupborder: #f1f1f1;
    --popupfocus: #ddd;
    --popuptextarea:#f1f1f1;
    --cardshadow: rgba(0, 0, 0, 0.2);
    --cardshadow2: rgba(0, 0, 0, 0.19);
    --footerbtn-color: rgb(0, 107, 207);
}

.dark-theme{
    --body-color: rgb(60, 60, 60);
    --card-color: rgb(29, 29, 29);
    --textandbtn-color: rgb(255, 255, 255);
    --btntext-color: rgb(0, 0, 0);
    --mark-color: rgb(255, 68, 0);
    --cardspan-color: #e2e2e2;
    --nav-color: rgb(0, 0, 0);
    --burger-color: black;
    --toggle-color: #ffffff;
    --navtext-color: white;
    --navli-color: rgb(0, 0, 0);
    --navlihover-color: rgb(42, 42, 42);
    --popupopen: #d5d5d5;
    --popupborder: #282828;
    --popupfocus: #434343;
    --popuptextarea:#383838;
    --cardshadow: rgba(255, 255, 255, 0.207);
    --cardshadow2: rgba(255, 255, 255, 0.195);
    --footerbtn-color: rgb(0, 132, 255);
}



/* footer */

.footerbtn{
    text-decoration: none;
    color: var(--btntext-color);
    cursor: pointer;
}

.footerbtn:hover{
    color: var(--footerbtn-color);
}

.footerul{
    list-style: none;
    color: var(--btntext-color);
}

footer ul li{
    margin-bottom: 10px;
}

footer div{
    width: fit-content;
    height: fit-content;
    margin: 0px 10px 0px 35px;
    padding: 30px 0px 20px 20px;
}

footer{
    background-color: var(--toggle-color);
    color: var(--btntext-color);
}
